@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*10px*/
}

body {
    font-size: 1.6rem; 
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #6c63ff, #705aff, #7551ff, #7b46ff, #8238ff);
}

h1 {
    font-size: 4.8rem;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 5rem;
    font-weight: normal;
    color: #8238FF;
}

h3, h4, h5 {
    color: #858585;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
    font-weight: normal;
}

p {
    font-size: 2.5rem;
    font-style: italic;
    color: #fff;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 7vh 86vh 7vh; 
}

section#imc-result {
    grid-row: 2/3;
    background: linear-gradient(45deg, #32315C, #350F73, #381278, #350F73, #32315C);
    padding: 4rem;
}
    
section#imc-result h1#imc-status {
    text-transform: uppercase;
    font-size: 4rem;
}
section#imc-result h1#imc-status::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(12, 12, 12, 0.164);
}

section#imc-result .imc-value--range {
    display: flex;
    content: '';
    width: 60%;
    height: 40vh;
    margin: 3rem auto;
    border: double 15px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#381278, #381278), radial-gradient(circle at left,  #6C63FF 30%, #8F00FF); /*Gradiente na borda*/
    background-origin: border-box; 
    background-clip: content-box, border-box;
}
section#imc-result .imc-value--range img {
    margin: auto;
    width: 90%;
}

section#imc-calculation {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F6FE;
    padding: 2rem 8rem;
    padding-right: 8rem;
}

section#imc-calculation .choose-gender {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

section#imc-calculation .gender {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    width: 100%;
    max-width: 280px;
    padding: 1rem;
}

section#imc-calculation .gender:hover {
    border: 2px solid #8238FF;
    transition: 0.5s;
}

section#imc-calculation .gender:hover h3 {
    color: #8238FF;
}

section#imc-calculation .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 1rem;
}

section#imc-calculation .imc-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section#imc-calculation .imc-view {
    display: flex;
    align-items: center;
    gap: 5px;
}
section#imc-calculation .imc-validation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#imc-calculation .slider-container {
    width: 100%;
}   
.slider {
    width: 100%;
    -webkit-appearance: none; /*Remove o estilo padrão do input range*/
    opacity: 0.7; /*Transparência para o efeito de hover*/
}   
.slider:hover {
    opacity: 1;
}
/*O pseudo-elemento slider-thumb representa a bolinha do input range que o usuário pode mover para alterar o seu valor númerico*/
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /*Remove a bolinha padrão do input range*/
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
/*O pseudo-elemento slider-runnable-track representa a faixa do input range que é alterada conforme o usuário move a bolinha do input*/
.slider::-webkit-slider-runnable-track {
    height: 25px;
    background-color: #8238FF;
    border-radius: 2rem;
    cursor: pointer;
}

section#imc-calculation button {
    width: 100%;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #5F00FF;
    opacity: 0.8;
    color: #fff;
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}
section#imc-calculation button:hover {
    opacity: 1.0;
}

@media (max-height: 550px) {
    main {
        grid-template-rows: 0vh 100vh 0vh; 
    }

    section#imc-result {
        padding: 1rem;
    }
}

@media (max-width: 1048px) {
    html {
        font-size: 55%;
    }  

    section#imc-result {
        padding: 4rem 2rem;
    }

    section#imc-result .imc-value--range {
        width: 70%;
    }

    section#imc-calculation {
        padding: 2rem 4rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 58%;
    }

    main {
        grid-template-rows: 80vh auto;
    }

    section#imc-result {
        grid-column: 1/3;
        grid-row: 1/2
    }

    section#imc-result .imc-value--range {
        width: 50%;
    }

    section#imc-calculation {
        grid-column: 1/3;
        grid-row: 2/3;
        padding: 4rem;
    }
}

@media (max-width: 462px) {
    html {
        font-size: 50%;
    }

    section#imc-result .imc-value--range {
        width: 85%;
        height: 40vh;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 45%;
    }

    section#imc-calculation .choose-gender {
        flex-direction: column;
    }
}